* {
    padding: 0;
    margin: 0;
}

/* Fits page to viewport */
html {
    height: 100%;
}

/* === Universal page content formatting === */
body {
    background-color: rgb(105, 105, 243);
    padding: 1em;
    min-height: 90%;
    background-color: #0087bd;
    color: white;
    font-family: "OpenSans", sans-serif;
}

button {
    background-color: #b0e0E6;
    border: transparent;
    text-align: center;
}

/* === Header formatting === */
.page-header {
    display: flex;
    justify-content: flex-end;
    height: 7vh;
    padding: 1em 2em;
}

.justify-right {
    margin-right: auto;
}

/* === Main timer body formatting === */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    min-height: 100%;
}

.wrapper {
    border-style: solid;
}

.bottom-margin {
    margin-bottom: 1em;
    padding: .5em;
}

.timer-wrapper {
    width: 70vw;
    min-width: 70vw;
    overflow: hidden;
}

.tab-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0em auto;
    min-width: 18em;
    border-width: 0px;
}

.tab {
    border: 2px solid;
    border-bottom: none;
    padding: 1em;
    flex: 1 1 0px;
    text-align: center;
    border-radius: 1em 1em 0em 0em;
    font-size: 1em;
    white-space: nowrap;
}

/* === Timer formatting === */
.clock-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-width: 8px;
    border-radius: 2px;
    margin-top: 0em;
    padding: 3em 0em;
}


.top-right-controls-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2em;
}

.controls-wrapper {
    position: unset;
    display: flex;
    align-items: center;
    margin-top: 3em;
    width: 20em;
    height: 3em;
    justify-content: space-between;
    min-height: 2em;
    min-width: 15em;
}

.countdown {
    font-size: 10vw;
}

/* === Buttons === */
button:disabled {
    filter: brightness(80%);
    cursor: auto;
}

.start-button {
    background-image: url(../img/Start.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 15%;
    outline: none;
    cursor: pointer;
}

.start-button:hover:enabled {
    filter: brightness(80%);
}

.start-button:active:enabled {
    filter: brightness(60%);
}

.stop-button {
    background-image: url(../img/Stop.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;                                                                                           
    width: 15%;
    outline: none;
    cursor: pointer;
}

.stop-button:hover:enabled {
    filter: brightness(80%);
}

.stop-button:active:enabled {
    filter: brightness(60%);
}

.help-button{
    background-image: url(../img/help.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    width: 60px;
    outline: none;
    cursor: pointer;
}

.help-button:hover:enabled {
    filter: brightness(80%);
}

.help-button:active:enabled {
    filter: brightness(60%);
}

.settings-button {
    background-image: url(../img/settings.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    height: 75px;
    width: 75px;
    outline: none;
    cursor: pointer;
}

.settings-button:hover:enabled {
    transform:rotate(30deg)
}

.settings-button:active:enabled {
    filter: brightness(60%);
}

/* === Volume Image === */
#volume-image {
    justify-self: center;
    justify-self: flex-start;
    padding-right: 20px;
    width: 40px;
}

/* === Volume Slider === */
#volume-slider {
    grid-area: slider;
    width: 50%;
    justify-self: left;
}
#volume-grid-container {
    position:absolute;
    column-gap: 10px;
    grid-template-areas:
      'image slider';
    height: 50px;
    width: 90%;
    bottom:20px;
    grid-column-end:auto;
    
  }

/* === Help Popup Window Styling === */
.modal{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    overflow: auto;
    background-color: #b0e0E6;
    color: black;
    transition: all 0.2s;
    border-radius: 5px;
    box-shadow: 5px 10px 20px 7px rgba(0,0,0,0.5);
}

.modal-show{
    visibility: visible;
    opacity: 1;
}

.modal-content{
    padding: 2em;
    height: 70vh;
    width: 75vw;
    z-index: 100;
    font-size: 1.5em;
    word-wrap: break-word;
}

.modal-content p, h3 {
    padding-bottom: .4em;
}

.shadow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background: rgba(0,0,0,.5);
    transition: all 0.2s;
    visibility: hidden;
    opacity: 0;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.close {
    position: absolute;
    right: .5em;
    top: .2em;
    font-size: 2em;
}

.close:hover, .close:focus{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-height: 600px) {
    main {
        height: 80vh;
    }
}
